body {
	overflow-x: hidden;
	overflow-y: hidden;
	color: white;
	background-color: black;
}

div {
	qborder: 1px solid red;
}

#guiMain {
	background-color: black;
	white-space: nowrap;
}

#guiMain > div {
	position: relative;
	vertical-align: top;
	display: inline-block;
	height: 100%;
}

#guiMain .col0 {
	width: calc( 100% - 504px );
	height: 100%;
}

#guiMain .col1 {
	width: 500px;
}

#guiCommunity {
}

#guiCity {
	width: 100%;
	height: 100%;
}

#panelCity {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

div.iconButton {
}

div.iconButton:hover {
	border: 2px solid cyan;
	border-radius: 6px;
}

div.structureButton {
	Xborder: 2px solid #333;
	border-radius: 6px;
}

div.structureButton:hover {
	border: 2px solid cyan;
}

div.personButton {
	Xpadding: 3%;
	Xborder: 2px solid #333;
	Xborder-radius: 300px;
}

div.personButton:hover {
	Xborder: 2px solid green;
}


div.wellbeingPick:hover {
	border: 2px solid cyan;
	border-radius: 6px;
	border-right-style: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.wellbeingInfo {
	color: #CCC;
	font-size: 7vh;

}

#panelProductivity {
	width: 500px;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: normal;
	border-top: 1px solid #d2d2d2;
	color: #d2d2d2;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.genericButton {
	background-color: black;
	border: 2px solid #888;
	border-radius: 4px;
	font-weight: bold;
	padding: 4px;
	cursor: pointer;
}

div.genericButton:hover {
	background-color: #333;
}

div.mapInfoCenter {
	text-align: center;
	width: 100%;
}

div.mapInfo {
	display: inline-block;
	color: cyan;
	background-color: black;
	padding: 3px;
}
